# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
gdb.txt
*.dts

# vscode dir
.vscode/*
# mac-specific file
# zippings
*.zip
arch/.DS_Store
arch/.DS_Store
arch/arm/mmu/.DS_Store
arch/arm/.DS_Store
.DS_Store
kernel/.DS_Store
/Users/kagantemur/Documents/Projects/zuzu/build/*
build/zuzu.asm
